# PostgresSQL Database.
POSTGRES_USER=banking_user
POSTGRES_PASSWORD=banking_password
POSTGRES_DB=banking_core
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
DATABASE_URL=postgresql://banking_user:banking_password@postgres:5432/banking_core

# API Settings.
ENVIRONMENT=local
LOG_LEVEL=INFO

# AWS/LocalStack Settings
AWS_ACCESS_KEY_ID=test
AWS_SECRET_ACCESS_KEY=test
AWS_DEFAULT_REGION=us-east-1
AWS_ENDPOINT_URL=http://localstack:4566

# SNS Topics
WITHDRAWAL_TOPIC_ARN=arn:aws:sns:us-east-1:000000000000:withdrawal-events

# SQS Queues (optional, for async processing)
WITHDRAWAL_QUEUE_URL=http://localstack:4566/000000000000/withdrawal-queue